<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../public/admin/css/pintuer.css">
    <link rel="stylesheet" href="../public/admin/css/admin.css">
    <script src="../public/admin/js/jquery.js"></script>
    <script src="../public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
<form method="post" action="" id="listform">
    <div class="panel-head"><strong class="icon-reorder">BhereShop-文章列表</strong></div>
    <div class="padding border-bottom">
    <a class="button border-yellow icon-plus-square-o" href="?c=article&a=add" style="font-size:14px;"> 添加文章</a>
    </div>
        <table class="table table-hover text-center">
            <tr>
                <th style="text-align:center;">ID</th>
                <th><span id='spot'>文章标题</span></th>
                <th>文章类型</th>
                <th>是否在导航栏展示</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="vo"><!--商品信息遍历-->
                <!--{foreach $arr as $val}-->
                <tr>
                    <td><input type="checkbox" name="id[]" value="<!--{$val['id']}-->" /><!--{$val['id']}--></td>
                    <td><!--{$val['con']}--></td>
                    <!--{foreach $arrx as $value}-->
                        <!--{if $value['id'] eq $val['type_id']}-->
                        <td><!--{$value['type']}--></td>
                        <!--{/if}-->
                    <!--{/foreach}-->
                    <!--{if $val['isshow'] eq 1}-->
                    <td><img src="../public/admin/images/yes.gif"></td>
                    <!--{else}-->
                    <td><img src="../public/admin/images/no.gif"></td>
                    <!--{/if}-->
                    <td><!--{$val['addtime']}--></td>
                    <td><div class="button-group">
                        <a class="button border-green" href="add.html"><span class="icon-edit"></span>查看</a>
                        <a class="button border-main" href="?c=article&a=editor&id=<!--{$val['id']}-->"><span class="icon-edit"></span>修改</a>
                        <a class="button border-red" href="javascript:void(0)" onclick="deleteArt(<!--{$val['id']}-->)"><span class="icon-trash-o"></span> 删除</a>
                         </div></td>
                </tr>
                <!--{/foreach}-->
                <tr>
                    <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>
                        全选 </td>
                    <td colspan="7" style="text-align:left;padding-left:20px;"><a href="javascript:void(0)" class="button border-red icon-trash-o"  onclick="DelSelect()">删除</a> <a href="javascript:void(0)" class="button border-blue icon-edit" onclick="sorts()"> 排序</a></td>
                </tr>
                <tr>
                    <td colspan="12">
                        <!--分页字符串部分-->
                        <div class="pagelist">
                            <!--{$page}-->
                        </div>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</form>
</div>
<script type="text/javascript">
    function deleteArt($id){
        if(confirm("确认删除吗?")){
            location.href = '?c=article&a=delete&id='+$id;
        }else{
            location.href = '?c=article&a=select';
        }
    }

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect(){
        var Checkbox=false;
        var art_array= new Array();
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                art_array.push($(this).val());
                Checkbox=true;
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;
            $.getJSON("?c=article&a=deleteall",{id:art_array},function(msg){
             if (msg ==1) {
                   
                    location.reload();
                } else {
                    
                 location.reload();
                }
            });
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }
     /*分页类的跳转函数*/
    function go(){
        var page = document.getElementById('page');
        location.href = "?c=article&a=select&p="+page.value+"#spot";
    }
</script>

</body>
</html>