<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>主要信息-修改</title>
    <link rel="stylesheet" href="../public/admin/css/pintuer.css">
    <link rel="stylesheet" href="../public/admin/css/admin.css">
    <script src="../public/admin/js/jquery.js"></script>
    <script src="../public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改文章</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="?c=article&a=update" enctype="multipart/form-data">
            <div class="form-group">
                <div class="label">
                    <label>文章标题：</label>
                </div>
                <div class="field">
                    <input type="text" class="stand-input" value="<!--{$arr[0]['con']}-->" name="con"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>文章类型：</label>
                </div>
                <div class="field">
                    <select name="type" id="" class='stand-input'>
                        <option value="0">文章类型</option>
                        <!--{foreach $arrX as $value}-->
                        <!--{if $value['id'] eq $arr[0]['type_id']}-->
                            <option value=" <!--{$value['id']}-->" selected><!--{$value['type']}--></option>
                        <!--{else}-->
                            <option value="<!--{$value['id']}-->"><!--{$value['type']}--></option>
                        <!--{/if}-->
                        <!--{/foreach}-->
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否在导航栏显示：</label>
                </div>
                <div class="field">
                    <input type="radio" name="isshow" VALUE="1" checked/>是
                    <input name="isshow" type="radio" value="0"/>否
                    <!-- <input type="text" class="stand-input" value="" name="isnav"/>-->
                    <div class="tips"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <input type="hidden"name="id"value="<!--{$arr[0]['id']}-->"/>
                    <button class="button bg-main icon-check-square-o" type="submit" name="submit"> 更新</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>