<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="./public/js/pi/safe/aywmq_qt.js" ></script>
		<script type="text/javascript" src="./public/js/pi/safe/da_opt.js" ></script>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<script type="text/javascript" src="./public/js/pi/jquery-1.9.1.min.js"></script>
		<link rel="stylesheet" href="./public/css/pi/safe/css.css" />
		<link rel="stylesheet" href="./public/css/pi/css.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/common.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/ms-style.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/personal_member.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/Snaddress.min.css" />
		<link rel="stylesheet" href="./public/css/pi/zpwd/sui.css" />
		<script type="text/javascript" src="./public/js/pi/sui.js" ></script>
        <script type="text/javascript" src="./public/js/pay/js/distpicker.data.js"></script>
        <script type="text/javascript" src="./public/js/pay/js/distpicker.js"></script>
        <script type="text/javascript" src="./public/js/pay/js/main.js"></script>
	</head>
	<style>
		a{
			color: #000000;
		}
		.sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    color: #333333;
}
	</style>
	<body class="ms-body">
		<div id="" class="ng-top-banner"></div>
		<div class="ng-toolbar">
		<!--顶部导航的位置-->

        <div id="menu">
            <ul>
                <li><a href="?c=index&a=index">WELCOME BHERESHOP</a>
                    <div>
                        <ul>
                            <li><a href="?c=lr&a=select">新用户注册</a></li>
                            <li><a href="default.htm"><!--{$username}--></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="?c=pi&a=index">个人中心</a>
                    <div>
                        <ul>
                            <li><a href="default.htm">已买到的商品</a></li>
                            <li><a href="default.htm">个性化设置</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="categories.html">收藏夹</a>
                    <div>
                        <ul>
                            <li><a href="default.htm">收藏的商品</a></li>
                            <li><a href="default.htm">收藏的店铺</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="categories.html">卖家中心</a>
                    <div>
                        <ul>
                            <li><a href="default.htm">免费开店</a></li>
                            <li><a href="default.htm">已经卖出的商品</a></li>
                            <li><a href="default.htm">出售中的商品</a></li>
                            <li><a href="default.htm">卖家服务中心</a></li>
                            <li><a href="default.htm">体验培训中心</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="categories.html">联系客服</a>
                    <div>
                        <ul>
                            <li><a href="default.htm">消费者客服</a></li>
                            <li><a href="default.htm">卖家客服</a></li>
                        </ul>
                    </div>
                </li>
                <li>Hi~<!--{$username}--></li>
                <li><a href="categories.html" style='color:#EA2F2F'>注册帐号</a></li>
                </ul>
        </div>
    </div>

				</div>
		</div>
		<header class="ms-header ms-header-inner ms-head-position">
			<article class="ms-header-menu">
				<style type="text/css">
					.nav-manage .list-nav-manage {
						position: absolute;
						padding: 15px 4px 10px 15px;
						left: 0;
						top: -15px;
						width: 90px;
						background: #FFF;
						box-shadow: 1px 1px 2px #e3e3e3, -1px 1px 2px #e3e3e3;
						z-index: 10;
					}

					.ms-nav li {
						float: left;
						position: relative;
						padding: 0 20px;
						height: 44px;
						font: 14px/26px "Microsoft YaHei";
						color: #FFF;
						cursor: pointer;
						z-index: 10;
					}
					.titles{
						font-size: 12px;
						color: #333333;
						/*font-weight: bold;*/
					}
					h3 {
					    margin: 0px 0;
					    font-weight: bold;
					    font-size: 14px;
					    line-height: 18px;
					    color: inherit;
					    text-rendering: optimizelegibility;
					}
                    .add{
                        display: block;width: 100px;height: 25px;text-align: center;line-height: 25px;border-radius: 5px;background-color: cornflowerblue;color: snow;box-shadow: 2px 2px 5px #888888;
                        transition: all .5s ;
                    }
                    .add:hover{
                        box-shadow: 3px 3px 7px #888888;
                        background-color:#0080ff;
                        color: snow;
                        text-decoration: none;
                    }
                    .editoraddr{
                        display: none;
                        position: absolute;
                    }
				</style>
				<div class="header-menu">
					<div class="ms-logo">
						<a class="ms-head-logo" name="Myyigou_index_none_daohangLogo"><span style="font-size: 30px;color: #e33131;font-weight: bold; line-height: 28px;;">B</span><span style="font-size: 30px;color: #e55155;font-weight: bold; line-height: 28px;;">here</span></a>

					</div>
					<nav class="ms-nav">
						<ul>
							<li class=""><a href="?c=index&a=index" data-url="" >首页</a><i class="nav-arrow"></i></li>
							<li class="nav-manage selected">
								<a href="" data-url="" >账户管理<em></em></a><i class="nav-arrow"></i>
								<div class="list-nav-manage " hidden="">
									<p class="nav-mge-hover">账户管理<em></em></p>
									<p><a >个人资料</a></p>
									<p><a >安全设置</a></p>
									<p><a >账号绑定</a></p>
									<p><a >地址管理</a></p>
								</div>
							</li>
							<li class="ms-nav-msg"><a >消息</a><i class="nav-arrow"></i></li>
						</ul>

					</nav>
				</div>

			</article>

			<article class="ms-useinfo">
				<div class="header-useinfo" id="">
					<div class="ms-avatar">
						<div class="useinfo-avatar">
							<img src="<!--{$personimg}-->">
							<div class="edit-avatar"></div>
							<a class="text-edit-avatar" >修改</a>
						</div>
						<a ><!--{$username}--></a>
					</div>

					<div class="ms-name-info">
						<div class="link-myinfo">
							<a >我的编号:99653</a>
						</div>
						<div class="info-member">
							<span class="name-member member-1">
        				 <i></i><a target="_blank" >注册会员</a></span>
        				 <span style="margin-left: 20px;">
        				 <a target="_blank" href="?c=pi&a=myinfo">我的资料</a></span>
						</div>
						<div class="info-safety">
							<span class="safety-lv lv-3">
        				<a >安全等级：<span>中</span></a>
							</span>
							<a class="bind-phone" >
								<i style="background-image: url(./public/img/pi/修改手机.png);"></i>修改手机</a>
							<a class="bind-email" >
								<i style="background-image: url(./public/img/pi/绑定邮箱.png);"></i>修改邮箱</a>
							<a  class="manage-addr" ><i style="background-image: url(./public/img/pi/地址管理.png);"></i>地址管理</a>
						</div>
					</div>
				</div>

			</article>
		</header>
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-side">
					<div class="side-neck">
						<i></i>
					</div>
					<div class="ms-side">
						<article class="side-menu side-menu-off">
                            <dl class="side-menu-tree" style="padding-left: 50px;">
                                <dt><img src="./public/img/pi/left/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/><a href='?c=pi&a=index'>个人中心</a></dt>
                                <dd>
                                <dt><img src="./public/img/pi/left/我的购物车.png"  style="margin-right: 10px;margin-left: -20px;"/><a
                                    href="?c=car&a=show">我的购物车</a></dt>
                                <dt><img src="./public/img/pi/left/file.png"  style="margin-right: 10px;margin-left: -20px;"/>订单管理</dt>
                                <dd>
                                    <a href="?c=pi&a=order">我的订单</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=comment">我的评价</a>

                                </dd>

                                <dt><img src="./public/img/pi/left/file.png"  style="margin-right: 10px;margin-left: -20px;"/>账户管理</dt>
                                <dd>
                                    <a href="?c=pi&a=myinfo">我的资料</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=safe">安全设置</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=bindacc">帐号绑定</a>

                                </dd>
                               
                                <dt><img src="./public/img/pi/left/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/>我的Bhere</dt>
                                <dd>
                                    <a href="?c=pi&a=mymoney">我的钱包</a>

                                </dd>
                                <dt><img src="./public/img/pi/left/v-card-3.png"  style="margin-right: 10px;margin-left: -20px;"/>售后服务</dt>
                                <dd>
                                    <a href="?c=pi&a=rg">退换货</a>

                                </dd>
                                <dd>
                                    <a href="#">意见/投诉</a>

                                </dd>
                            </dl>


                            <a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
						</article>
					</div>
				</div>

							<!--
                            	作者：admin
                            	时间：2016-05-05
                            	描述：
                            -->
							<div style="margin-top: 30px;width: 1068px; margin: 15px 0 30px 170px;">
                                <a href="javascript:void(0)" class="add" style=" color: snow;text-decoration: none">添加收货地址</a>
								<dl style="color: #F88600;font-size: 16px;margin-top: 20px;">您已添加<!--{$sum}-->个地址，你还可以添加<!--{10-$sum}-->个地址</dl>
								<table class="sui-table table-bordered-simple" style="margin-top: 20px;">
								  <thead>
								    <tr>
								      <th>收货人</th>
								      <th>所在地区</th>
								      <th>收货地址</th>
								      <th>邮编</th>
								      <th>手机</th>
								      <th>操作</th>
								      <th></th>
								    </tr>
								  </thead>
								  <tbody>
                                  <!--{if $arr!=''}-->
                                  <!--{foreach $arr as $value}-->
								    <tr>
								      <td><!--{$value['receiver']}--></td>
								      <td><!--{$value['pro']}-->-<!--{$value['city']}-->-<!--{$value['region']}--></td>
                                      <td><!--{$value['detail']}--></td>
								      <td><!--{$value['postcode']}--></td>
								      <td><!--{$value['contact']}--></td>
								      <td style="color: #007AFF;"><a href="?c=pi&a=editor_address&id=<!--{$value['id']}-->">编辑</a>|<a href="javascript:void(0)" onclick="del(<!--{$value['id']}-->)">删除</a></td>
                                        <!--{if $value['addrdefault']==1}-->
								      <td ><span style="padding: 2px;font-size: 10px;color: #EC5937;border-radius:5px;background-color: #fad5d0;border: 1px #C85E0B solid;">默认地址</span></td>
                                        <!--{/if}-->
								    </tr>
                                  <!--{/foreach}-->
                                  <!--{else}-->
                                  <tr>
                                  <td colspan="7">
                                      您还没有设置收货地址！
                                  </td>
                                  </tr>
                                  <!--{/if}-->
								  </tbody>
								</table>

							</div>
                <div class="cont-main address" style="margin: 15px 0 30px -11px;display:none">
                    <div class="main-wrap mt15">
                        <h3>
                            <strong style=" font-size: 14px;">收货地址</strong>
                        </h3>
                        <div class="user-profile clearfix" style="margin-left: 0px;width: 100%;border: 0px;">
                            <div class="user-profile-wrap" style="width: 100%;height: 500px;">
                                <form class="sui-form" action="?c=pi&a=add_address" method="post" onsubmit="return checkform()">
                                <p style="margin-left: 70px;font-size: 14px;"><span style="color:#F88600;font-size: 14px;">新增收货地址</span><span style="margin-left: 10px;font-size: 14px;font-weight: bold;">均为必填项</span> </p>
                                <div style="margin-left: 70px;margin-top: 30px;height: 30px;">
                                    <span style="color: #F2873B;">*&nbsp;</span><span class="titles">所在地区:</span>
                                    <div data-toggle="distpicker" style="margin-left: 79px">
                                        <select data-province="---- 选择省 ----" style="width: 80px;" name="p"></select>
                                        <select data-city="---- 选择市 ----" style="width: 100px;" name="c"></select>
                                        <select data-district="---- 选择区 ----" style="width: 80px;" name="r"></select>
                                    </div>
                                </div>
                                <div style="margin-left: 70px;margin-top: 50px;">
                                    <span style="color: #F2873B;">*&nbsp;</span><span class="titles">详细地址:</span>
                                </div>
                                <div style="margin-left: 150px;margin-top:-40px;">
                                    <textarea style="width:500px;height: 90px;padding: 5px;" placeholder="建议您如实填写详细收货地址，例如街道 名称，门牌号码，楼层和房间号等信息" name="detail"></textarea>
                                    <span id="detailtips"></span>
                                </div>

                                <div style="margin-left: 80px;margin-top: 20px;">
                                    <span class="titles">邮政编号:</span>
                                    <input type="text" placeholder="如您不清楚地区邮递号，请填写000000" style="padding: 5px;width: 300px;margin-left: 14px;" name="postcode"/>
                                    <span id="postcodetips"></span>
                                </div>

                                <div style="margin-left: 55px;margin-top: 30px;">
                                    <span style="color: #F2873B;">*</span>
                                    <span class="titles">收货人姓名:</span>
                                    <input type="text" placeholder="长度不超过25个字符" style="padding: 5px;width: 300px;margin-left: 14px;"  name="name"/>
                                    <span id="nametips"></span>
                                </div>
                                <div style="margin-left: 80px;margin-top: 30px;">
                                    <span class="titles">手机号码:</span>
                                    <select style="padding: 5px;margin-left: 14px;">
                                        <option>中国大陆+86</option>
                                    </select>
                                    <input type="text" placeholder="电话号码、手机号码必须填一项"  style="padding: 5px;width: 200px;"  name="mobile"/>
                                    <span id="mobiletips"></span>
                                </div>
                                <div style="margin-left: 150px;margin-top: 10px;">

                                        <div class="am-u-sm-7 am-u-sm-offset-3" style="padding-right: 0rem;">
                                            <label class="checkbox-pretty inline ">
                                                <input type="radio" value="1" name="default">
										<span style="font-size: 12px;color: #878787;">
											<font style="font-size: 12px;color: #333333;">设为默认地址</font>
										</span>
                                            </label><label class="checkbox-pretty inline ">
                                                <input type="radio" value="0" name="default">
										<span style="font-size: 12px;color: #878787;">
											<font style="font-size: 12px;color: #333333;">不设为默认地址</font>
										</span>
                                            </label>
                                            <input type="submit" value="添加" style="margin-left:150px;margin-top:10px;background-color:#F37B1D ;color: #fff;width: 100px;height: 30px;border: 0px;border-radius: 5px;"/>
                                        </div>
                                </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>


			</div>
		</div>
		<div class="clear"></div>
		<div class="ng-footer">
			<textarea class="footer-dom" id="footer-dom-02">
			</textarea>
			<div class="ng-fix-bar"></div>
		</div>
		<style type="text/css">
			.sui-table td
			{
				font-size: 14px;
			}
			.sui-table td
			{
				font-size: 12px;
			}
			.ng-footer {
				height: 130px;
				margin-top: 0;
			}

			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}

			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}

			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}

			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}

			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}

			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}

			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript" src="./public/js/pi/safe/ms_common.min.js" ></script>
        <script>
            $(".add").click(function(){
               $(".address").fadeToggle(500)
            })
           //表单提交检测
            var booldata =false;
            var booldata2 =false;
            var booldata3 =false;
            var booldata4 =false;
            $("textarea[name='detail']").blur(function(){
                if($(this).val()==""){
                    $("#detailtips").text("详细地址不能为空！").css({color:'#ff0000',fontSize:'14px'})
                    booldata =false;
                }else{
                    booldata = true;
                    $("#detailtips").text("填写正确！").css({color:'#008800',fontSize:'14px'})
                }
            })
           $("input[name='postcode']").blur(function(){
               if($(this).val()!=""){
                  var reg=/^\d{6}$/
                  if(reg.test($(this).val())){
                      $("#postcodetips").text("填写正确！").css({color:'#008800',fontSize:'14px'})
                  booldata2=true;
                  }else{
                      $("#postcodetips").text("邮编格式错误！").css({color:'#ff0000',fontSize:'14px'})
                   booldata2 =false;
                  }
               }else{
                   $("#postcodetips").text("邮编不能为空！").css({color:'#ff0000',fontSize:'14px'})
                   booldata2 =false;
               }
           })
         $("input[name='name']").blur(function(){
             if($(this).val()==""){
                 $("#nametips").text("收件人信息不能为空！").css({color:'#ff0000',fontSize:'14px'})
                 booldata3 = false;
             }else{
                 $("#nametips").text("填写正确！").css({color:'#008800',fontSize:'14px'})
                 booldata3 = true;
             }
         })
            $("input[name='mobile']").blur(function(){
                if($(this).val()!=""){
                    var reg=/^1{1}[3,5,7,8,9]{1}[0-9]{9}$/
                    if(reg.test($(this).val())){
                        $("#mobiletips").text("填写正确！").css({color:'#008800',fontSize:'14px'})
                        booldata4=true;
                    }else{
                        $("#mobiletips").text("手机格式错误！").css({color:'#ff0000',fontSize:'14px'})
                        booldata4 =false;
                    }
                }else{
                    $("#mobiletips").text("手机不能为空！").css({color:'#ff0000',fontSize:'14px'})
                    booldata4 =false;
                }
            })
           function checkform(){
               var data = true ;
               if(booldata==false||booldata2==false||booldata3==false||booldata4==false){
                   alert('填写的信息不正确')
                   data=false;
               }else{
                   data = true
               }
               return data;
           }
            //删除收货地址
            function del(data){
                if(confirm('确认删除吗？')){
                   location.href="?c=pi&a=delete_address&id="+data;
                }

            }
        </script>
	</body>

</html>