<html>

	<head>
		<meta charset="utf-8">
		<title>Bhere shop 个人中心</title>
		<script type="text/javascript" src="./public/js/pi/safe/aywmq_qt.js"></script>
		<script type="text/javascript" src="./public/js/pi/safe/da_opt.js"></script>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="./public/css/pi/safe/css.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/common.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/ms-style.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/personal_member.min.css" />
		<link rel="stylesheet" href="./public/css/pi/safe/Snaddress.min.css" />
		<link rel="stylesheet" href="./public/css/pi/sui.css" />
		<script type="text/javascript" src="./public/js/pi/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="./public/js/pi/sui.js" ></script>
		<style>
			.sui-nav.nav-tabs {
    border-bottom: 1px solid #F88600;
    padding-left: 0px;
  
}
		.sui-table th{
				font-size: 14px;
				font-weight: normal !important;
				  color: #686868;
			}
		.sui-table
		{
			
			font-size: 14px;
		}	
		a{
			color: #333333;
		}
		.sui-table th, .sui-table td {
    padding: 6px 8px;
    line-height: 100px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
}
.fenye{
				    border: 1px #ccc solid;
				     padding: 3px; 
				    width: 20px;
			}
		</style>
	</head>

	<body class="ms-body">
		<div id="" class="ng-top-banner"></div>
		<div class="ng-toolbar">
			<div class="ng-toolbar-con wrapper">
				<div class="ng-toolbar-left">
					<a class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" style="display: block;">
						<span><img src="./public/img/pi/Home.png" style="margin-right: 10px;"/>返回买啦首页</span>
					</a>
					<div class="ng-bar-node-box ng-site-nav-box">
						<a href="" class="ng-bar-node ng-bar-node-site">
							<span><img src="./public/img/pi/daohang.png" style="margin-right: 5px;" />网站导航</span><em class="ng-iconfont down"></em>
						</a>
						<div class="ng-sn-site-nav ng-d-box site-nav-child" style="display:none;">
							<dl class="sn-site-list lnb">
								<dt>
								    特色购物
								 </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
							    主题频道
							   </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
					    生活助手
					   </dt>
								<dd>
									<p><a target="_blank">###<i class="hot"></i></a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
					    会员服务
					   </dt>
								<dd>
									<p><a target="_blank">###<i class="hot"></i></a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list rnb">
								<dt>
					    更多热点
					   </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###<i class="hot"></i></a></p>
								</dd>
							</dl>
							<a href="" class="ng-close"><em class="ng-iconfont"></em></a>
						</div>
					</div>

				</div>
				<div class="ng-toolbar-right">
					<a href="" class="ng-bar-node username-bar-node username-bar-node-showside" id="" rel="nofollow" style="display:none;">
						<span id="">吉米小子</span>
						<em class="hasmsg ng-iconfont"></em>
					</a>
					<div class="ng-bar-node-box username-handle" id="" style="display: block;">
						<a href="" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside">
							<span id="">吉米小子</span>
							<em class="hasmsg ng-iconfont"></em>
							<em class="ng-iconfont down"></em>
						</a>
						<div class="ng-d-box ng-down-box ng-username-slide" style="display:none;">
							<a href="" class="ng-vip-union" target="_blank" rel="nofollow">账号管理</a>
							<a href="" rel="nofollow">退出登录</a>
						</div>
					</div>
					<div class="ng-bar-node reg-bar-node" id="reg-bar-node" style="display: none;">
						<a href="" rel="nofollow" class="login">登录</a>
						<a href="" target="_blank" class="login reg-bbb" rel="nofollow">注册</a>
					</div>

					<div class="ng-bar-node-box myorder-handle">
						<a class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的买啦</span><em class="ng-iconfont down"></em></a>
						<div class="ng-down-box ng-d-box myorder-child" style="display:none;">
							<a>待支付<em id="waitPayCounts"></em></a>
							<a>待收货<em id="waitDeliveryCounts"></em></a>
							<a>待评价<em id="waitEvaluation"></em></a>
							<a>修改订单</a>
						</div>
					</div>
					<a class="ng-bar-node ng-bar-node-mini-cart" rel="nofollow" href="">
						<span><img src="./public/img/pi/购物车.png" />购物车</span>
						<span class="total-num-bg-box">
						<em></em>
						<i></i>
					</span>
						</span>
					</a>
					<div class="ng-bar-node-box mysuning-handle">
						<a href="" rel="nofollow" name="" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>收藏夹</span><em class="ng-iconfont down"></em></a>
						<div class="ng-down-box ng-d-box mysuning-child" style="display:none;">
							<a href="" rel="nofollow" target="_blank">我的二手</a>
							<a href="" rel="nofollow" target="_blank">我的金融</a>
							<a href="" rel="nofollow">我的收藏</a>
							<a href="" rel="nofollow">我的任性付</a>
							<a href="" rel="nofollow">我的优惠券</a>
							<a href="" rel="nofollow">打卡赚云钻</a>
							<a href="" class="ng-vip-union" target="_blank" rel="nofollow">会员联盟<em class="ng-iconfont"></em></a>
						</div>
					</div>

					<div class="ng-bar-node-box app-down-box">
						<a href="" target="_blank" rel="nofollow" class="ng-bar-node mb-suning touch-href">
							<span>关注买啦</span>
						</a>
						<div class="ng-mb-box ng-d-box mb-down-child" style="display:none;">
							<div class="ng-code-box">
								<p class="ng-tip">
									<a href="" rel="nofollow" target="_blank"></a>
								</p>
								<a target="_blank">
									<img src="" height="80" width="80">
								</a>
							</div>
							<div class="ng-app-box">
								<div class="ng-app-list">
									<a href="" target="_blank" rel="nofollow" class="ng-app">
										<img src="" title="###"></a>
									<a href="" target="_blank" rel="nofollow" class="ng-app">
										<img src="" title="###"></a>
									<a class="ng-app">
										<img src="" title="###"></a>
									<a href="" target="_blank" rel="nofollow" class="ng-app">
										<img src="" title="###"></a>
								</div>
							</div>
							<a href="" target="_blank" rel="nofollow">
								<img src="" height="35" width="242">
							</a>
							<a href="" class="ng-close" rel="nofollow"><em class="ng-iconfont"></em></a>
						</div>
					</div>

					<a href="" class="ng-bar-node ng-bar-node-pr5" target="_blank"><span>卖家中心</span><em class="ng-iconfont down"></em></a>
					<div class="ng-bar-node-box service-handle">
						<a href="" class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow"><span>联系我们</span><em class="ng-iconfont down"></em>
				    </a>
						<div class="ng-down-box ng-d-box service-center-child ng-ser-list" style="display:none;">
							<a>帮助中心</a>
							<a>查找门店</a>
							<a>退换货</a>
							<a>帮客预约</a>
							<a>建议反馈</a>
							<a>在线咨询</a>
						</div>
					</div>
				</div>
				<div id="ng-minicart-slide-box"></div>
			</div>
		</div>
		<header class="ms-header ms-header-inner ms-head-position">
			<article class="ms-header-menu">
				<style type="text/css">
					.nav-manage .list-nav-manage {
						position: absolute;
						padding: 15px 4px 10px 15px;
						left: 0;
						top: -15px;
						width: 90px;
						background: #FFF;
						box-shadow: 1px 1px 2px #e3e3e3, -1px 1px 2px #e3e3e3;
						z-index: 10;
					}
					
					.ms-nav li {
						float: left;
						position: relative;
						padding: 0 20px;
						height: 44px;
						font: 14px/26px "Microsoft YaHei";
						color: #FFF;
						cursor: pointer;
						z-index: 10;
					}
					.personal-member .main-wrap {
    width: 1000px;
    margin: 15px 0 30px 170px;
    padding: 0 0 39px 0;
    border: 1px solid #ddd;
    background: #fff;
}
				</style>
				<div class="header-menu">
					<div class="ms-logo">
						<a class="ms-head-logo" name="Myyigou_index_none_daohangLogo"><span style="font-size: 30px;color: #fff;font-weight: bold;    line-height: 28px;;">我的买啦</span></a>

					</div>
					<nav class="ms-nav">
						<ul>
							<li class=""><a href="" data-url="">首页</a><i class="nav-arrow"></i></li>
							<li class="nav-manage selected">
								<a href="" data-url="">账户管理<em></em></a><i class="nav-arrow"></i>
								<div class="list-nav-manage " hidden>
									<p class="nav-mge-hover">账户管理<em></em></p>
									<p><a >个人资料</a></p>
									<p><a >安全设置</a></p>
									<p><a >账号绑定</a></p>
									<p><a >地址管理</a></p>

								</div>
							</li>
							<li class="ms-nav-msg"><a>消息</a><i class="nav-arrow"></i></li>
						</ul>
						<div class="ms-search">
							<form>
								<input id="" type="text" value="">
							</form>
						</div>
					</nav>
				</div>

			</article>

			<article class="ms-useinfo">
				<div class="header-useinfo" id="">
					<div class="ms-avatar">
						<div class="useinfo-avatar">
							<img src="./public/img/pi/头像.png">
							<div class="edit-avatar"></div>
							<a class="text-edit-avatar">修改</a>
						</div>
						<a>sunshine</a>
					</div>

					<div class="ms-name-info">
						<div class="link-myinfo">
							<a>我的编号:99653</a>
						</div>
						<div class="info-member">
							<span class="name-member member-1">
        				 <i></i><a target="_blank" >注册会员</a></span>
							<span style="margin-left: 20px;">
        				 <a target="_blank" >我的资料</a></span>
						</div>
						<div class="info-safety">
							<span class="safety-lv lv-3">
        				<a >安全等级：<span>中</span></a>
							</span>
							<a class="bind-phone">
								<i style="background-image: url(./public/img/pi/修改手机.png);"></i>修改手机</a>
							<a class="bind-email">
								<i style="background-image: url(./public/img/pi/绑定邮箱.png);"></i>修改邮箱</a>
							<a class="manage-addr"><i style="background-image: url(./public/img/pi/地址管理.png);"></i>地址管理</a>
						</div>
					</div>
				</div>

			</article>
		</header>
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-side">
					<div class="side-neck" style="margin-top: 20px;">
						<i></i>
					</div>
					<div class="ms-side" style="margin-top: 20px;">
						<article class="side-menu side-menu-off">
                            <dl class="side-menu-tree" style="padding-left: 50px;">
                                <dt><img src="./public/img/pi/left/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/><a href='?c=pi&a=index'>个人中心</a></dt>
                                <dd>
                                <dt><img src="./public/img/pi/left/我的购物车.png"  style="margin-right: 10px;margin-left: -20px;"/>我的购物车</dt>
                                <dt><img src="./public/img/pi/left/file.png"  style="margin-right: 10px;margin-left: -20px;"/>订单管理</dt>
                                <dd>
                                    <a href="?c=pi&a=order">我的订单</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=comment">我的评价</a>

                                </dd>

                                <dt><img src="./public/img/pi/left/file.png"  style="margin-right: 10px;margin-left: -20px;"/>账户管理</dt>
                                <dd>
                                    <a href="?c=pi&a=myinfo">我的资料</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=safe">安全设置</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=bindacc">帐号绑定</a>

                                </dd>
                                <dd>
                                    <a href="?c=pi&a=address">地址管理</a>

                                </dd>
                                <dt><img src="./public/img/pi/left/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/>我的Bhere</dt>
                                <dd>
                                    <a href="?c=pi&a=mymoney">我的钱包</a>

                                </dd>
                                <dt><img src="./public/img/pi/left/v-card-3.png"  style="margin-right: 10px;margin-left: -20px;"/>售后服务</dt>
                                <dd>
                                    <a href="?c=pi&a=rg">退换货</a>

                                </dd>
                                <dd>
                                    <a href="#">意见/投诉</a>

                                </dd>
                            </dl>

                            <a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
						</article>
					</div>
				</div>
				<div class="cont-main">
					<div class="main-wrap mt15" style="border: 0px;">
						<div class="server-wrapper">
							<div class="server-tab" style="margin-top: 20px;">
								
								<ul class="sui-nav nav-tabs" style="width: 1100px;">
								  <li class="active"><a href="#index" data-toggle="tab">提现账户</a></li>
								  <li><a href="#profile" data-toggle="tab">添加账户</a></li>
								  <li><a href="#about" data-toggle="tab">我要提现</a></li>
								  <li><a href="#tixing" data-toggle="tab">提现记录</a></li>
								</ul>
								<div class="tab-content">
								  <div id="index" class="tab-pane active" style="width: 1000px ;padding-left: 100px;" >
								  
								  <div style="display: inline-block;width: 700px;margin: 0 auto;margin-top:55px;height: 40px;border: 1px #ccc solid;padding-top: 17px;">
								  	
								  	<img src="./public/img/pi/nyyh.png"  style="float: left;margin-left: 56px;margin-right: 17px;"/> <dl style="float: left;font-size: 12px;color: #949494;    margin-right: 10px;">农业银行.</dl>
								  	<dl style="font-size: 12px;color: #949494;margin-left: 10px">卡号：********8765. 户名：**姗姗</dl>
								  </div>
								  <div style="display: inline-block;" >
								  <input type="button"  value="解除绑定"  style="width:70px;float:left;margin-left:25px;border: 0px;padding:5px;background-color: #F2873B;color: #fff;border-radius: 5px;margin-bottom: -10px;"/>
								 </div>						  
								    
								  <div style="display: inline-block;width: 700px;margin: 0 auto;margin-top:40px;height: 40px;border: 1px #ccc solid;padding-top: 17px;">
								  	<img src="./public/img/pi/nyyh.png"  style="float: left;margin-left: 56px;margin-right: 17px;"/> <dl style="float: left;font-size: 12px;color: #949494;    margin-right: 10px;">农业银行.</dl>
								  	<dl style="font-size: 12px;color: #949494;margin-left: 10px">卡号：********8765. 户名：**姗姗</dl>
								  </div>
								   <div style="display: inline-block;" >
								   <input type="button"  value="解除绑定"  style="width:70px;float:left;border: 0px;margin-left:25px;padding:5px;background-color: #F2873B;color: #fff;border-radius: 5px;margin-bottom: -10px;"/>
								  </div>
								  
								    
								  <div style="display: inline-block;width: 700px;margin: 0 auto;margin-top:40px;height: 40px;border: 1px #ccc solid;padding-top: 17px;">
								  	
								  	<img src="./public/img/pi/nyyh.png"  style="float: left;margin-left: 56px;margin-right: 17px;"/> <dl style="float: left;font-size: 12px;color: #949494;    margin-right: 10px;">农业银行.</dl>
								  	<dl style="font-size: 12px;color: #949494;margin-left: 10px;">卡号：********8765. 户名：**姗姗</dl>
								  </div>
								   <div style="display: inline-block;" >
								  <input type="button"  value="解除绑定"  style="width:70px;float:left;border: 0px;margin-left:25px;padding:5px;background-color: #F2873B;color: #fff;border-radius: 5px;margin-bottom: -10px;"/>
								  </div>
								   </div>
								  <div id="profile" class="tab-pane" style="padding-left: 150px;font-size: 14px;color: #686868;">
								  	<div style="margin-top: 42px;">
								  		<label >会员编号：</label><span>996523</span>
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">户名：</label><span style="margin-left: 20px;">江一珊</span><span style="color: #F88600;margin-left: 20px;">您身份证实名认证的的姓名</span>
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">省份：</label>
								  		<select style="margin-left:20px;padding: 10px;width: 250px;color: #949494;font-size: 12px;">
								  			<option selected="" >请选择省份</option>
								  		</select>
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">城市：</label>
								  		<select style="margin-left:20px;padding: 10px;width: 250px;color: #949494;font-size: 12px;">
								  			<option selected="" >请选择城市</option>
								  		</select>
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label>开户银行：</label>
								  		<select style="margin-left:20px;padding: 10px;width: 500px;color: #949494;font-size: 12px;">
								  			<option selected="" >请选择银行</option>
								  		</select>
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label>银行卡号：</label>
								  		<input type="text" style="width: 500px;padding: 10px;margin-left:20px;" />
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label>开户地址：</label>
								  		<input type="text" style="width: 500px;padding: 10px;margin-left:20px;" />
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<p style="color: #f81700;margin-left: 95px;">如XX省XX市XX银行分行或支行，详细以当地开户行地址为准</p>
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<input type="button" value="提交"  style="margin-left:150px;margin-top:50px;border:0px;width: 160px;height: 26px;color: #ffffff;font-size: 14px;background-color: #F88600;" />
								  	</div>
								  	
								  </div>
								  <div id="about" class="tab-pane" style="padding-left: 100px;font-size: 14px;color: #686868;">
								    
								    <div style="margin-top: 42px;">
								  		<label  style="margin-left: 28px;">会员编号：</label><span style="margin-left:20px;">996523</span>
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label style="">选择提现账户：</label>
								  		<select style="margin-left:20px;padding: 10px;width: 500px;color: #949494;font-size: 12px;">
								  			<option selected="" >工商银行.卡号：*****8976 户名：**珊</option>
								  		</select>
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">可用金额：</label><span style="margin-left:20px;">500</span>
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">提现金额：</label>
								  		<input type="text" style="width: 200px;padding: 10px;margin-left:20px;" />
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<label  style="margin-left: 40px;">手续费：</label>
								  		<span style="color: red;margin-left: 20px;">1</span>元
								  	    <span style="color: #F88600;">(提现手续费为提现金额的1%)</span>
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">实际提现：</label>
								  		<span style="color: red;margin-left: 20px;">99</span>元
								  	</div>
								  	<div style="margin-top: 20px;">
								  		<label style="margin-left: 28px;">联系电话：</label>
								  		<input type="text" style="width: 200px;padding: 10px;margin-left:20px;" />
								  	</div>
								  	
								  	<div style="margin-top: 20px;">
								  		<p style="color: #F88600;margin-left: 120px;">请正确填写您的联系电话，如无法联系到您，我们将取消您的提现请求</p>
								  	</div>
								  	
								  	<div style="margin-top: 45px;">
								  		<input type="button" value="确定"  style="margin-left:200px;margin-top:50px;border:0px;width: 160px;height: 26px;color: #ffffff;font-size: 14px;background-color: #F88600;" />
								  	</div>
								    
								  </div>
								   <div id="tixing" class="tab-pane" style="margin-top: -18px;width: 1100px;">
								   	<div style="width：100%;height:72px;border: 1px #F88600 solid;border-top:0px;background-color: #F8F8F8;padding-top: 30px;padding-left:30px;">
								   		<label style="margin-right: 10px;">时间：</label><input type="text" value="2016.03.21" style="width: 80px;padding: 5px;margin-right: 5px;" />-<input type="text" value="2016.03.21" style="width: 80px;padding: 5px;margin-left: 5px;" />
								   	    <label style="margin-left: 10px;">今天</label>&nbsp;&nbsp;|&nbsp;&nbsp;<label>最近：</label>| <span style="margin-left: 10px;background-color: #ccc;color: #fff;padding: 5px;border-radius: 5px;">1个月</span> <span style="margin-left: 20px;">3个月</span> <span style="margin-left: 20px;">1年</span>
								        <label style="margin-left: 450px;font-size: 12px;color: #686868;">可用余额：</label><span style="color: #F37B1D;">0.00</span>元
								   	</div>
								   	<table class="sui-table" style="margin-top: 38px;width: 1100px;">
									  <thead>
									    <tr>
									      <th style="padding-left: 30px;">分类</th>
									      <th style="padding-left: 59px;">创建时间</th>
									      <th style="padding-left: 66px;">名称&nbsp;&nbsp;|&nbsp;&nbsp;对方&nbsp;&nbsp;|&nbsp;&nbsp;交易号</th>
									      <th style="padding-left: 289px;">金额&nbsp;&nbsp;|明细&nbsp;&nbsp;</th>
									      <th style="padding-left: 46px;">状态</th>
									      <th style="padding-left: 101px;">操作</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr style="">
									      <td style="padding-left: 30px;padding-top: 47px;"><img src="./public/img/pi/矢量智能对象.png" /></td>
									      <td style="padding-left: 59px;padding-top: 47px;">9999.00</td>
									      <td style="padding-left: 66px;padding-top: 47px;">999</td>
									      <td style="padding-left: 289px;padding-top: 47px;">99999.00</td>
									      <td style="padding-left: 46px;padding-top: 47px;">99999.00</td>
									      <td style="padding-left: 101px;padding-top: 47px;"></td>
									    </tr>
									    <tr>
									      <td style="padding-left: 30px;padding-top: 47px;"><img src="./public/img/pi/矢量智能对象.png" /></td>
									      <td style="padding-left: 59px;padding-top: 47px;">9999.00</td>
									      <td style="padding-left: 66px;padding-top: 47px;">999</td>
									      <td style="padding-left: 289px;padding-top: 47px;">99999.00</td>
									      <td style="padding-left: 46px;padding-top: 47px;">99999.00</td>
									      <td style="padding-left: 101px;padding-top: 47px;"></td>
									    </tr>
									  </tbody>
									</table>
									 <p style="text-align:right;margin-top: 50px;width: 90%;">
							    	<span class="fenye" style="margin-right: 10px;"><</span><span class="fenye">1</span><span class="fenye">2</span><span class="fenye">3</span>.....<span class="fenye">></span>共1页，到<input type="text" value="1" style="width: 20px;margin-left: 10px;margin-right: 10px;" />页<button  style="background-color: #f95555;padding: 3px;border: 0px;color: #fff;margin-left: 10px;">确认</button>
							    </p>
								  </div>
								</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="clear "></div>
		<div class="ng-footer ">

			<textarea class="footer-dom " id="footer-dom-02 ">
			</textarea>
			<div class="ng-fix-bar "></div>
		</div>
		<style type="text/css ">

			.ng-footer {
				height: 130px;
				margin-top: 0;
			}
		
			
			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}
			
			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}
			
			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}
			
			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}
			
			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}
			
			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}
			
			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript " src="./public/js/pi/safe/ms_common.min.js "></script>
	</body>

</html>