<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../public/admin/css/pintuer.css">
    <link rel="stylesheet" href="../public/admin/css/admin.css">
    <script src="../public/admin/js/jquery.js"></script>
    <script src="../public/admin/js/pintuer.js"></script>
</head>
<body>
<!--产品展示内容模块-->
<a href="#" name="spot"></a>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">BhereShop-会员列表</strong></div>
    <div class="padding border-bottom">
    </div>
    <table class="table table-hover text-center">
        <tr >
            <th><a href="javascript:void(0);" id='spot'>ID</a></th>
            <th>会员名称</th>
            <th>邮箱</th>
            <th>生日</th>
            <th>手机</th>
            <th>地址</th>
            <th>等级</th>
            <th>注册时间</th>
            <th>到期时间</th>
            <th>操作</th>
        </tr>
           <!--{foreach $arr as $value}-->
            <tr>
                <td><!--{$value['id']}--></td>
                <td><!--{$value['username']}--></td>
                <td><!--{$value['email']}--></td>
                <td><!--{$value['birth']}--></td>
                <td><!--{$value['mobile']}--></td>
                <td><!--{$value['address']}--></td>
                <td><!--{$value['level']}--></td>
                <td><!--{$value['regtime']}--></td>
                <td><!--{$value['exptime']}--></td>
            <td><div class="button-group">
                <a class="button border-main" href="?c=user&a=usereditor&id=<!--{$value['id']}-->"><span class="icon-edit"></span> 修改</a>
                <a class="button border-red" href="javascript:void(0)" onclick="deleteCates(<!--{$value['id']}-->)"><span class="icon-trash-o"></span> 删除</a>
            </div></td>

        </tr>
           <!--{/foreach}-->
        <tr>
            <td colspan="5">

                <div class="pagelist">

                </div>
            </td>
        </tr>
    </table>
    <div class="pagelist">
       <!--{$str}-->
    </div>

</div>



<script type="text/javascript">
    function deleteCates($id){
        if(confirm("确认删除吗?")){
            location.href = '?c=user&a=userdelete&id='+$id;
        }else{
            location.href = '?c=user&a=select';
        }
    }
    function go(){
        var page = document.getElementById('page');//取到类里面的input
        location.href = "?c=user&a=select&p="+page.value+"#spot";//输入的页数就是所跳转的页数 加锚点

    }
</script>
</body>
</html>