<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>主要信息-修改</title>
    <link rel="stylesheet" href="../public/admin/css/pintuer.css">
    <link rel="stylesheet" href="../public/admin/css/admin.css">
    <script src="../public/admin/js/jquery.js"></script>
    <script src="../public/admin/js/pintuer.js"></script>
    <link rel="stylesheet" href="../public/addr/addrcss/main.css"/>
    <link rel="stylesheet" href="../public/addr/addrcss/bootstrap.css"/>
    <link rel="stylesheet" href="../public/addr/addrcss/city-picker.css"/>
    <link rel="stylesheet" href="../public/newopen/css/popModal.min.css"/>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改内容</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" enctype="multipart/form-data">
            <div class="form-group">
                <!--{foreach $arr as $value}-->
                <p><strong class="icon-reorder">商品名:</strong><!--{$value['title']}--></p>
                <!--{/foreach}-->
                <p><strong class="icon-reorder">订单号:</strong><!--{$arr[0]['order_num']}--></p>
                <p><strong class="icon-reorder">购买人姓名:</strong><!--{$arr[0]['username']}--></p>
                <p><strong class="icon-reorder">购买人地址:</strong><!--{$arr[0]['address']}--></p>
                <p><strong class="icon-reorder">收件人:</strong><!--{$arr[0]['receiver']}--></p>
                <p><strong class="icon-reorder">订单状态:</strong><!--{$arr[0]['order_status']}--></p>
                <p><strong class="icon-reorder">快递公司:</strong><!--{$arr[0]['ship_type']}--></p>
                <p><strong class="icon-reorder">生成时间:</strong><!--{$arr[0]['overtime']}--></p>
                <div class="container" style="display:inline-block;position: absolute;
top: 10px;
left: 420px; ">

                    <div class="page-header">收件人地址:</div>
                    <div class="page-header"><!--{$arr[0]['receiver_addr']}--></div>
                    <div class="docs-methods">
                        <from class="form-inline">
                            <div id="distpicker">
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <input type="text" id="city-picker3" class="form-control" readonly value="" data-toggle="city-picker" name="picker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                            </div>
                        </from>
                    </div>
                </div>
                <div class="page-header" style="position: absolute;
left:326px ;
top: 175px;">收件人详细地址:</div>
                    <textarea name="addr" id="" cols="40" rows="10" style="position: absolute;
left: 437px;
top: 238px;"></textarea>
                <input type="hidden" name="id" value="<!--{$arr[0]['id']}-->"/>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../public/addr/addrjs/bootstrap.js"></script>
<script src="../public/addr/addrjs/city-picker.data.js"></script>
<script src="../public/addr/addrjs/city-picker.js"></script>
<script src="../public/newopen/js/popModal.min.js"></script>
</body>
</html>