<html>
	<head>
		<meta charset="utf-8">
		<title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit">
        <title></title>
        <link rel="stylesheet" href="../public/admin/css/pintuer.css">
        <link rel="stylesheet" href="../public/admin/css/admin.css">
        <script src="../public/admin/js/jquery.js"></script>
        <script src="../public/admin/js/pintuer.js"></script>
        <style>
            .mytable{
                margin:0px auto;width:450px;font-size: 14px;
            }
            .mytable tr td{
                padding-top: 14px;
            }


        </style>
	</head>
	<body class="ms-body">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder">BhereShop-物流配送</strong> <a href="" style="float:right;">录入物流配送信息</a></div>
								<div style="margin:20px auto;width: 90%;height: 400px;" >
                                    <form action="?c=order&a=saveKd" method="post">
                                        <table class="mytable">
                                            <tr>
                                                <td>订单号:</td>
                                                <td><input class="stand-input" type="text" name="ordercode" value="<!--{$order}-->"></td>
                                            </tr>
                                            <tr>
                                                <td>快递单号:</td>
                                                <td><input class="stand-input" type="text" name="lcode" value="432262075993"></td>
                                            </tr>
                                            <tr>
                                                <td>选择快递:</td>
                                                <td>
                                       
                                                	<select name='api' class="stand-input">
                                                		<!--{foreach $lgt as $value}-->
                                                		<option value="<!--{$value['code']}-->"><!--{$value['lgt']}--></option>
                                                		<!--{/foreach}-->
                                                	</select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input style="width: 65px;height: 30px;font-size: 16px;border: 1px  solid #e33131;background-color:#e33131;color:#fff;border-radius:5px;margin-left: 175px; "type="submit" name="submit" value="保存">
                                                </td>
                                            </tr>
                                          

                                        </table>

                                    </form>
								</div>
        </div>
	</body>

</html>